.comments
  %h2.text-center Comments
  %hr
  .panel.panel-info
    .panel-heading
      New comment
    .panel-body
      %textarea{'ng-model':'newComment.text'}
      %flow-btn.btn.btn-info Upload File
      %span{'ng-repeat': 'file in $flow.files'}
        {{file.name}}
      .row.text-center
        %button.btn.btn-success{'ng-click':'add()', 'ng-disabled':'!canAdd()'}
          %i.glyphicon.glyphicon-comment
          Place comment

  .panel.panel-info{'ng-repeat':'comment in task.comments | orderBy: "-created_at" '}
    .panel-heading
      {{comment.created_at | date:'dd MMMM yyyy HH:mm:ss'}}
      %i.delete.glyphicon.glyphicon-trash{'ng-click':'delete(comment)'}
    .panel-body
      {{comment.text}}
    .attachment.text-center{'ng-show':'comment.attachment'}
      %hr
      %a.btn.btn-info{href:'{{comment.attachment.url}}', download:''}
        .span.glyphicon.glyphicon-floppy-save
        {{comment.attachment.filename}}
