%form.text-center{'ng-submit':"submitLogin(loginForm)", role:"form", 'ng-init':"loginForm = {}"}
  .form-group
    %input.form-control{'ng-model': 'loginForm.email', placeholder: 'Email', type: 'email'}
  .form-group
    %input.form-control{'ng-model': 'loginForm.password', placeholder: 'Password', type: 'password'}
  .form-group
    %input.btn.btn-success#login{type: 'submit', value: 'Login with email'}
    %a.btn.btn-info#facebook{'ng-click':"authenticate('facebook')"} Login with Facebook
