%form.form{'ng-submit': 'submitRegistration(user)', 'ng-init':"user = {}"}
  .form-group.email
    %input.form-control{'ng-model': 'user.email', placeholder: 'Email', type: 'email'}
    %span.help-block
  .form-group.username
    %input.form-control{'ng-model': 'user.username', placeholder: 'Username', type: 'text'}
    %span.help-block
  .form-group.password
    %input.form-control{'ng-model': 'user.password', placeholder: 'Password', type: 'password'}
    %span.help-block

  %input.btn.btn-success{type: 'submit', value: 'Register'}