%section
  %project-container{project: 'project', delete: 'delete', 'ng-repeat':'project in projects'}
%section.text-center
  %button.btn.btn-info#addProject{{'ng-click':'add()'}}
    %span.glyphicon.glyphicon-plus
    ADD NEW TODO