!!!
%html{'ng-app':"app"}
  %head
    %title Todolist
    =csrf_meta_tags
    =stylesheet_link_tag    'application'
    =javascript_include_tag 'application'
  %body
    %br
    .container
      .row
        .col-sm-8.col-sm-offset-2
          %navigation
          %flash-message
          %ui-view